* {
    width: 100%;
    height: 100%;
}

.TopBar {
    position: absolute;
    z-index: 2;
    height: 60px;
    border-bottom: 3px solid #9FC2DE;
    display: flex;
    flex-direction: row;
}

.LeftTop {
    float: left;
    width: 33%;
    height: 100%;
    min-width: 250px;
}
.lefttop1 {
    width: 46px;
    height: 46px;
    float: left;
    padding: 6px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 10px;
}
.lefttop2, .lefttop3, .lefttop4 {
    width: 50px;
    height: 50px;
    margin-right: 6px;
    margin-top: 4px;
    float: left;
}

.CenterTop {
    float: left;
    flex: 1;
    height: 100%;
    text-align: center;
    min-width: 250px;
}
.centertop1, .centertop2, .centertop3 {
    width: 60px;
}

.RightTop {    
    float: right;
    width: 33%;
    height: 100%;
    min-width: 150px;
    margin-bottom: 10px;
}
.righttop1, .righttop2 {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 6px;
    margin-right: 6px;
}

.SideBar {
    z-index: 1;
    position: absolute;
    width: 62px;
    border-right: 3px solid #9FC2DE;
}
.side1 {
    border-bottom: 3px solid #9FC2DE;
    height: 120px;
}

.side2, .side3 {
    border-bottom: 3px solid #9FC2DE;
    height: 170px;
}

.side4 {
    height: 160px;
}

.CanvasArea {
    /* margin-top: 70px; */
    width: 100vw;
}

.canvas {
    margin-top: max(20vh, 100px);
    margin-left: min(15%,260px);
    background-color: #D3D3D3;
    /*background-color: #00000000; //배경 투명하게*/
}

.iconStyle {
    fill:#9DAAB2;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 40px;
    height: 40px;
    padding-bottom: 0;
}

.icon_noneselect1{
    fill:#9DAAB2;stroke:#9DAAB2;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    width: 40px;
    height: 40px;
    margin-top: 64px;
    margin-left: 6px;
}

.icon_select1{
    fill:#9DAAB2;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    width: 40px;
    height: 40px;
    margin-top: 64px;
    margin-left: 6px;
}

.icon_noneselect{
    fill:#9DAAB2;stroke:#9DAAB2;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 6px;
}

.icon_select{
    fill:#9DAAB2;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 6px;
}

.shape_noneselect{
    fill:#4C5F68;
    stroke:#9DAAB2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 6px;
}

.shape_select{
    fill:#004483;
    stroke:#9DAAB2;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 6px;
}

.st6{
    fill:#4C5F68;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 6px;
}

.st7{
    fill:#004483;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 6px;
}

.eraser_noneselect{
    fill:#9DAAB2;stroke:#9DAAB2;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 6px;
}

.eraser_select, .side4-3 {
    fill:#004483;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 6px;
}