.toolIcon {
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;
}

.iconStyle {
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;
    
}

.icon_noneselect{fill:#9DAAB2;stroke:#9DAAB2;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;}

.icon_select{fill:#9DAAB2;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;
}

.shape_noneselect{fill:#59666F;stroke:#9DAAB2;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;
}

.shape_select{
    fill:#004483;stroke:#9DAAB2;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;
}

.eraser_noneselect{
    fill:#9DAAB2;stroke:#9DAAB2;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;
}

.eraser_select{
    fill:#004483;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;
}


.sideBar {
}

.sideArea {
    display: flex;
    flex-direction: column;
}

.shortContour {
    background-color: #9FC2DE;
    border: 0;
    width: 60px;
    height: 3px;
    border-radius: 30px;
    margin-left: 8px;
}

.longContour {
    background-color: #9FC2DE;
    border: 0;
    width: 99%;
    height: 3px;
    border-radius: 30px;
    text-align: left;
}

.verticalLine {
    border-left: thick solid #9FC2DE;
    border-width: 4px;
    border-radius: 3px;
    height:100%;
    left: 50%;
    position: absolute;
    float: left;
    margin-left: -685px;
    margin-top: 5px;
	padding: 5px;
}