.TopBar {
    position: absolute;
    float: left;
    margin-top: -740px;
    margin-left: 90px;
}

.toptoolIcon {
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;
    padding-right: 0;
}

.TopCenterTool {
    margin-top: -65px;
    margin-left: 575px;
}

.ToprightTool {
    margin-top: -65px;
    margin-left: 1290px;
}

.imgSizeControl {
    margin-left: 15%;
    margin-top: 5%;
    max-width:1200px;
    max-height:550px;
    width: auto;
    height: auto;
}

.canvas {
    position: absolute;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    width: 1200px;
    height: 550px;
    background-color: #D3D3D3;
}