@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.sideline {
    border-right: 3px solid #9FC2DE;
    position: absolute;
    width: 60px;
    height: 90vh;
    top: 68px;
    left: 62px;
    text-align: center;
}

.cropOption1-1, .cropOption2-1, .cropOption3-1, .cropOption4-1, .cropOption5-1, .cropOption6-1 {
    height: 10px;
    cursor:pointer;
}

.cropOption1 {
    /* float: left;
    margin-top: 20px; */
    float: left;
    margin-top: 90px;
}

.cropOption2 {
    float: left;
}

.cropOption3 {
    float: left;
}

.cropOption1Text, .cropOption2Text, .cropOption3Text {
    float: left;
    font-size: 15px;
    /* margin-top: -510px;
    margin-left: 91px; */
    color: #888;
    font-family: 'Pretendard-Regular';
}

/* .cropOption2Text {
    float: left;
    font-size: 15px;
    margin-top: -425px;
    margin-left: 97px;
}

.cropOption3Text {
    float: left;
    font-size: 15px;
    margin-top: -340px;
    margin-left: 92px;
}

.filterOption2 {
    float: left;
    margin-top: -605px;
    margin-left: 85px;
}

.filterOption3 {
    float: left;
    margin-top: -570px;
    margin-left: 85px;
}

.filterOption4 {
    float: left;
    margin-top: -535px;
    margin-left: 85px;
}

.filterOption5 {
    float: left;
    margin-top: -500px;
    margin-left: 85px;
}

.filterOption6 {
    float: left;
    margin-top: -465px;
    margin-left: 85px;
} */

    /* color: #888;
    font-family: 'Pretendard-Regular';
} */

.iconStyle {
    fill:#9DAAB2;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 45px;
    height: 45px;
    padding-bottom: 0;
}

/* 밑에 Crop컴포넌트 관련 CSS 복사해온 거*/

.App { /* 여기가 바닥에 한강 생기는 원인.. 이 div가 자리차지하고 있음 */
  font-family: 'Helvetica Neue', sans-serif;  
}
  
label {
font-weight: bold;
padding-left: 10px;
}

button {
z-index: 2;
cursor: pointer;
width: 100%;
background-color: #000;
color: #fff;
padding: 10px 0;
}

.container {
display: flex;
flex-direction: column;
position: relative;
}