@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.cropOption1 {
    float: left;
    margin-top: 20px;
}

.cropOption1Text {
    float: left;
    font-size: 15px;

    color: #888;
    font-family: 'Pretendard-Regular';
}

.iconStyle {
    fill:#9DAAB2;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 45px;
    height: 45px;
    padding-bottom: 0;
}