@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.sideline {
    border-right: 2px solid #9FC2DE;
    position: absolute;
    width: 60px;
    height: 90vh;
    top: 68px;
    left: 62px;
    text-align: center;
}

.filterOption1-1, .filterOption2-1, .filterOption3-1, .filterOption4-1, .filterOption5-1, .filterOption6-1 {
    height: 10px;
}

.filterOption1 {
    float: left;
    margin-top: 90px;
}

.filterOption2 {
    float: left;
}

.filterOption3 {
    float: left;
}

.filterOption4 {
    float: left;
}

.filterOption5 {
    float: left;
}

.filterOption6 {
    float: left;
}

p {
    color: #888;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
} 