.sideline {
    border-right: 2px solid #9FC2DE;
    position: absolute;
    width: 60px;
    height: 90vh;
    top: 68px;
    left: 62px;
    text-align: center;
}

.paintOption1-1, .paintOption2-1, .paintOption3-1, .paintOption4-1, .paintOption5-1, .paintOption6-1 {
    height: 10px;
}

.paintOption1 {
    /* float: left;
    margin-top: -300px;
    margin-left: 93px; */
    float: left;
    margin-top: 90px;
}

.paintOption2 {
    float: left;
    /* margin-top: -265px;
    margin-left: 93px; */
}

.paintOption3 {
    color: #004483;
    font-weight: 600;
    float: left;
    /* margin-top: -230px;
    margin-left: 93px; */
}

.colorpicker {
    /* float: left;
    margin-top: 25px;
    margin-left: 80px; */
    float: left;
    margin-top: 25px;
    margin-left: 80px;
    width: 200px;
    height: 100px;
}

.brushWeight {
    width: 65px;
    height: 100px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px gray ;
    background-color: white;
    float: left;
    position: absolute;
    z-index: 2;
    margin-top: 85px;
    margin-left: 80px;
}

span {
    width: 30px;
    height: 30px;
}

.lineOption {
    color: #004483;
    float: left;
    margin-top: 8px;
    margin-right: 2px; 
    /* font-size: 17px;
    font-weight: 800;
    display: inline;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 2px; */
}

/* .weightmenu {
    position:relative;
    margin: 50px; padding: 20px;
    width:200px; height:60px;
    color: #000;
    border-radius: 10px;
    background-color: #FFF;
}

.weightmenu:after {content:""; position: absolute; top: -40px; right: 175px; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 30px solid #FFF; } */