@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.sideline {
    border-right: 3px solid #9FC2DE;
    position: absolute;
    width: 60px;
    height: 90vh;
    top: 68px;
    left: 62px;
    text-align: center;
}

.reverseOption1-1, .reverseOption2-1, .reverseOption3-1 {
    height: 10px;
}

.reverseOption1 {
    /* float: left;
    margin-top: -450px;
    margin-left: 78px; */
    float: left;
    margin-top: 90px;
}

.reverseOption2 {
    float: left;
    /* margin-top: -380px;
    margin-left: 83px;*/
    transform: rotate(90deg);
    margin-left: 5px;
    margin-top: 20px;
}

.reverseOption3 {
    float: left;
    color: #004483;
    /* margin-top: -310px;
    margin-left: 93px;
    font-size: 20px;
    font-weight: 800; */
    margin-top: 20px;
    font-size: 15px;
    font-weight: 800;
}

p {
    color: #888;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
}

.iconStyle {
    fill:#9DAAB2;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 40px;
    height: 40px;
    padding-bottom: 0;
}