@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.textBar {
    display: inline-block;
    position: absolute;
    top: 400px;
    margin-left: 130px;
}

.optionverticalLine {
    border-left: thick solid #9FC2DE;
    border-width: 4px;
    border-radius: 3px;
    height:90%;
    left: 50%;
    position: absolute;
    float: left;
    /* margin-left: -615px;
    margin-top: -660px; */
	padding: 5px;
}

.textOption1 {
    /* float: left; */
    display: inline-block;
    margin-bottom: 30px;
}

.colorBox {
    display: inline-block;
}

.rect {
    width: 22px;
    height: 22px;
    float: right;
    border-radius: 4px;
    margin-right: 28px;    
}

.colorPicker {
    position: absolute;
    /* float: left; */
    display: inline-block;
}

.textOption2 {
    /* float: left; */
    margin-bottom: 30px;
}

.textOption3 {
    /* float: left; */
    margin-bottom: 30px;
}

.textOption4 {
    /* float: left; */
    margin-bottom: 30px;
}

.textOption5 {
    /* float: left; */
    margin-bottom: 30px;
}

.textOption6 {
    /* float: left; */
    margin-bottom: 30px;
}