@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.optionverticalLine {
    border-left: thick solid #9FC2DE;
    border-width: 4px;
    border-radius: 3px;
    height:90%;
    left: 50%;
    position: absolute;
    float: left;
    margin-left: -615px;
    margin-top: -660px;
	padding: 5px;
}

.option1 {
    padding-top: 138px;
}

.option2 {

}

.turnOption1 {
    float: left;
    margin-top: -650px;
    margin-left: 80px;
}

.turnOption2 {
    float: left;
    margin-top: -570px;
    margin-left: 77px;
    transform: scaleX(-1);
}

.turnOption1Text {
    float: left;
    font-size: 15px;
    margin-top: -590px;
    margin-left: 97px;
}

.turnOption2Text {
    float: left;
    font-size: 15px;
    margin-top: -510px;
    margin-left: 91px;
}

.turnOption3Text {
    float: left;
    color: #004483;
    font-size: 17px;
    font-weight: 800;
    margin-top: -470px;
    margin-left: 96px;
}

p {
    color: #888;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
}

.iconStyle {
    fill:#9DAAB2;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 45px;
    height: 45px;
    padding-bottom: 0;
}