@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.turnDiv1, .turnDiv2 {
    height: 0px;
}

.option1 {
    padding-top: 138px;
}

.option2 {

}

.turnOption1 {
    float: left;
    margin-top: 20px;
    margin-left: 0px;
}

.turnOption2 {
    float: left;
    transform: scaleX(-1);
    margin-left: -3px;
    margin-top: 10px;
}

/* .turnOption1Text {
    float: left;
    font-size: 15px;
    margin-top: -590px;
    margin-left: 97px;
}

.turnOption2Text {
    float: left;
    font-size: 15px;
    margin-top: -510px;
    margin-left: 91px;
}

.turnOption3Text {
    float: left;
    color: #004483;
    font-size: 17px;
    font-weight: 800;
    margin-top: -470px;
    margin-left: 96px;
} 

p { */
    
.turnOption1Text, .turnOption2Text {
    color: #888;
    font-family: 'Pretendard-Regular';
    float: left;
    font-size: 15px;
    height: 0px;
}

.turnOption3Text {
    color: #004483;
    padding-top: 10px;
    font-family: 'Pretendard-Regular';
    float: left;
    font-size: 15px;
    height: 0px;
    font-weight: 800;
}



.iconStyle {
    fill:#9DAAB2;stroke:#004483;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    padding: 10px;
    width: 45px;
    height: 45px;
    padding-bottom: 0;
    margin-bottom: -8px;
}